/* impots */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* global defaults */

:root {
    /* colors */
    --yelow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);

    /* size */
    font-size: 16px;
    --ratio: 1.5;
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    
    /* font */
    font-family: 'Figtree';
    font-weight: 500;
    color: var(--gray-950);
    --bold: 800;

    /* mesure */
    --mesure: 60ch;
}

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    color: var(--yelow);
}

p {
    line-height: 1.5em;
}

p, h1 {
    max-inline-size: var(--mesure);
}

/* layouts */

.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.stack-middle {
    display: flex;
    flex-direction: column;
    gap: 1.4em;
}

.stack-small {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.cluster {
    display: flex;
    align-items: center;
    gap: 0.5em;

}

/* utility classes */

h1.small {
    font-size: var(--s1) !important;
    font-weight: var(--bold) !important;
}

div > strong {
    font-weight: var(--bold);
}

.half-mesure {
    max-inline-size: 32ch;
}

.light-text {
    color: var(--gray-500);
}


/* preview card classes */
body {
    background-color: var(--yelow);
}

.preview-card {
    background-color: var(--white);
    border: 2px solid var(--gray-950);
    border-radius: 1.5em;
    padding: 1.4em;
    box-shadow: 0.6em 0.6em var(--gray-950);
}

.preview-image {
    inline-size: 21em;
    border-radius: 0.6em;
}

.tag-badge {
    background-color: var(--yelow);
    border-radius: 0.25em;
    padding-inline: 0.7em;
    padding-block: 0.5em;
    inline-size: fit-content;
}

.avatar {
    width: 1.9em;
    height: 1.9em;
}